 .logoMain{
    width: 100%;
    border-bottom: .1rem solid #EBEBEC;
    display: flex;
    justify-content: space-between;
}

 .logoMain .logoMainLeft{
    padding: 3px 13px 3px 9px;
}
 .logoMain .logoMainLeft{
    width: 109px;
    padding: 7px 13px 7px 21px;
}
 .logoMain .logoMainLeft img{
    width: 73px;
    height: 35px;
}


 .logoMain .logoMainRight{
    justify-content: space-between;
    padding: 0 10px 0 15px;
}

 .logoMain .logoMainRight{
    width: 100%;
    
    padding: 0 28px 0 0;
    border-radius: 0 0 0 14px;
    background: #C91429;
    color: white;
    align-items: center;
    justify-content: flex-end;
    gap: 7px;
}

 .logoMain .logoMainRight .logoLeftNav{
    height: 100%;
    display: flex;
    align-items: center;
}
 .logoMain .logoMainRight .logoRightNav{
    display: flex;
    gap: 7px;
    align-items: center;
    justify-content: center;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{
    vertical-align: baseline;
}